In [1]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/alura-cursos/1576-mlops-machine-learning/aula-5/casas.csv')

In [2]:
#cols = ['tamanho', 'preco']

#df = df[cols]
df.head()

   tamanho   ano  garagem   preco
0    159.0  2003        2  208500
1    117.0  1976        2  181500
2    166.0  2001        2  223500
3    160.0  1915        3  140000
4    204.0  2000        3  250000

In [3]:
x = df.drop('preco',axis=1)
y = df['preco']
x

      tamanho   ano  garagem
0       159.0  2003        2
1       117.0  1976        2
2       166.0  2001        2
3       160.0  1915        3
4       204.0  2000        3
...       ...   ...      ...
1455    153.0  1999        2
1456    193.0  1978        2
1457    217.0  1941        1
1458    100.0  1950        1
1459    117.0  1965        1

[1460 rows x 3 columns]

In [4]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)

In [5]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression()
lr.fit(x_train, y_train)

LinearRegression()

In [7]:
lr.predict([[120,2001,2]])

array([191436.53503831])

In [ ]:
{
    "tamanho":120,
    "ano":2001,
    "garagem":2
}

In [8]:
import pickle

In [9]:
pickle.dump(lr, open('ML_lr.sav', 'wb'))

In [18]:
import requests

url = "http://127.0.0.1:5000/cotacaov3/"

dados = {
    "tamanho":120,
    "ano":2010,
    "garagem":2
}

auth = requests.auth.HTTPBasicAuth('leo','alura')

response = requests.post(url, json=dados, auth=auth)


print(response.status_code)

200

In [19]:
response.json()

{'preco': 198295.34558965033}

In [20]:
!pip install virtualenv

Collecting virtualenv
  Downloading virtualenv-20.13.3-py2.py3-none-any.whl (8.7 MB)
     |████████████████████████████████| 8.7 MB 3.9 MB/s eta 0:00:01
Collecting distlib<1,>=0.3.1
  Downloading distlib-0.3.4-py2.py3-none-any.whl (461 kB)
     |████████████████████████████████| 461 kB 5.1 MB/s eta 0:00:01
Requirement already satisfied: platformdirs<3,>=2 in /Users/leonardofonseca/opt/miniconda3/lib/python3.9/site-packages (from virtualenv) (2.3.0)
Collecting filelock<4,>=3.2
  Downloading filelock-3.6.0-py3-none-any.whl (10.0 kB)
Requirement already satisfied: six<2,>=1.9.0 in /Users/leonardofonseca/opt/miniconda3/lib/python3.9/site-packages (from virtualenv) (1.16.0)
Installing collected packages: filelock, distlib, virtualenv
Successfully installed distlib-0.3.4 filelock-3.6.0 virtualenv-20.13.3